body {
    margin: 0;
    padding: 0 20px; /* Updated padding */
    font-family: Arial, sans-serif;
    background-color: #DAEEF7;
}

h1 {
    color: #845EC2;
    text-align: center;
    padding: 50px; /* Added units to padding */
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}

.btn {
    border: 5px solid #845EC2;
    background-color: #FEFEDF;
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 3rem 3rem;
    margin: 1rem;
    font-weight: bold;
    color: #845EC2;
}

.btn:hover {
    background-color: #BE93FD;
    color: white;
}
